{% extends "layout.html" %}

{% block title %}Expo Track Configuration{% endblock %}

{% block additional_js %}
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
{% endblock %}

{% block body %}
    {% include "login.html" %}
    <div data-bind="visible: auth().authenticated" class="row">
        <div class="col-md-2">
            <ul data-bind="foreach: tabs" class="nav nav-pills nav-stacked">
                <li data-bind="css: {active: name == $parent.active_tab()}">
                <a data-bind="attr: { href: '#' + name}" href="#"><span data-bind="text: title"></span></a>
                </li>
          </ul>
        </div>

        <div class="col-md-10">
            <div data-bind="visible: active_tab() === 'items'">
                {% include "config/edit_items.html" %}
            </div>
            <div data-bind="visible: active_tab() === 'people'">
                {% include "config/edit_people.html" %}
            </div>
            <div data-bind="visible: active_tab() === 'events'">
                {% include "config/edit_events.html" %}
            </div>
            <div data-bind="visible: active_tab() === 'locations'">
                {% include "config/edit_locations.html" %}
            </div>
            <div data-bind="visible: active_tab() === 'teams'">
                {% include "config/edit_teams.html" %}
            </div>
            <div data-bind="visible: active_tab() === 'users' && $root.auth().has_permission('view_user')">
                {% include "config/edit_users.html" %}
            </div>
        </div>
    </div>
{% endblock %}

