{# This template is intended to be included in other templates #}
<div data-bind="with: events, visible: events().editing() === false">
    <h1>Events <button data-bind="click: begin_new, visible: can_add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></h1>
    <div data-bind='sortableGrid: grid_view_model'> </div>
</div>

<div data-bind="with: events, visible: events().editing">
    <div data-bind="with: edited_item">

        <h2>Event</h2>

        <div class="form-group">
            <label for="event-name">Name</label>
            <input data-bind="value: model().name" type="text" class="form-control" id="event-name" placeholder=""></input>
            <span data-bind="validationMessage: model().name" class="validationMessage"></span>
        </div>

        <div class="form-group">
            <label for="event-description">Name</label>
            <textarea data-bind="value: model().description" rows=5 class="form-control" id="event-description" placeholder=""></textarea>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="event-begin-date">Begin Date</label>
                </div>
                <div class="col-md-6">
                    <label for="event-end-date">End Date</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input data-bind="value: model().begin_date" type="text" class="form-control datepicker" id="event-begin-date">
                    <span data-bind="validationMessage: model().begin_date" class="validationMessage"></span>
                </div>
                <div class="col-md-6">
                    <input data-bind="value: model().end_date" type="text" class="form-control datepicker" id="event-end-date">
                    <span data-bind="validationMessage: model().end_date" class="validationMessage"></span>
                </div>
            </div>
        </div>

         <p>
            <button data-bind="click: $parent.cancel_edit" class="btn btn-default">Cancel</button>
            <button data-bind="click: $parent.finish_edit" class="btn btn-default btn-primary">Apply</button>
        </p>

    </div>
</div>
