{# This template is intended to be included in other templates #}
<div id="login-view" class="row">
    <div class="col-md-4"></div>

    <div class="panel panel-default col-md-4">
        <div class="panel-body">
            <h2 class="form-signin-heading">Please sign in</h2>
            <form class="form-signin" role="form" action={{ url_for('login') }}>
                <label for="input_username" class="sr-only">Username</label>
                <input data-bind="value: username" type="text" id="input_username" class="form-control" placeholder="Username" required autofocus>
                <label for="input_password" class="sr-only">Password</label>
                <input data-bind="value: password" type="password" id="input_password" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button data-bind="click: login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>
