{# This template is intended to be included in other templates #}
<div data-bind="with: teams, visible: teams().editing() === false">
    <h1>Teams <button data-bind="click: begin_new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></h1>
    <div data-bind='sortableGrid: grid_view_model'> </div>
</div>

<div data-bind="with: teams, visible: teams().editing">
    <div data-bind="with: edited_item">

        <h2>Team</h2>

        <div class="form-group">
            <label for="team-name">Name</label>
            <input data-bind="value: model().name" type="text" class="form-control" id="team-name" placeholder=""></input>
        </div>

        <div class="form-group">
            <label>Primary Location</label>
            <select data-bind="options: $parent.locations(), optionsValue: function(item) { return item ? item.model().id() : null }, optionsText: function(item) { return item ? item.model().name() : null }, value: model().primary_location().id" class="form-control">
            </select>
        </div>

        <label>Members</label>
        <div data-bind="foreach: model().members" class="row">
            <div class="col-md-5">
                <p data-bind="text: display_name"></p>
            </div>
            <div class="col-md-1">
                <button data-bind="click: $parents[1].remove_team_member" type="button" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <p></p>
        <div class="form-group row">
            <div class="col-md-1 text-center">
                <button data-bind="click: $parent.add_team_member" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="col-md-11">
                <select data-bind="options: $root.people().data_elements, optionsValue: function(item) { return $root.people().data_elements.indexOf(item) }, optionsText: function(item) { return item.model().display_name() }, value: $parent.added_member_index, select2: {}" class="form-control" id="team-member-select"></select>
            </div>
        </div>

        <p>
            <button data-bind="click: $parent.cancel_edit" class="btn btn-default">Cancel</button>
            <button data-bind="click: $parent.finish_edit" class="btn btn-default btn-primary">Apply</button>
        </p>

    </div>
</div>
