{% extends 'base.html' %}
{% block layout %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('interface.index') }}"><span class="glyphicon glyphicon-check"></span></a>
                    {% block navbar_header %}{% endblock %}
                </div>

                <div class="navbar-collapse collapse">
                   <div id="nav-user-info-view" data-bind="with: auth, visible: auth().authenticated">
                        <div class="navbar-text navbar-right">
                            <a data-bind="click: logout" href="#"><span class="glyphicon glyphicon-log-out"></span></a>
                        </div>
                        <div class="navbar-text navbar-right">
                            Username: <span data-bind="text: username"></span>
                        </div>
                    </div>
                    {% block navbar_collapse %}{% endblock %}
                </div>
            </div>

        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
{% endblock %}
