{% extends "layout.html" %}

{% block title %}Expo Track{% endblock %}

{# Include this only for our interface template #}
{% block additional_js %}
    <script type="text/javascript">
        var login_uri = "{{ url_for('login') }}";
        var actions_uri = "{{ url_for('action_list') }}";
    </script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/interface.js') }}"></script>
{% endblock %}

{% block body %}
    {% include "user/login.html" %}
    {% include "item/action_buttons.html" %}
    {% include "item/recent_actions.html" %}
{% endblock %}


