{% extends "layout.html" %}

{% block title %}Expo Track{% endblock %}

{# Include this only for our interface template #}
{% block additional_js %}
    <script type="text/javascript">
        var login_uri = "{{ url_for('login') }}";
        var items_uri = "{{ url_for('items_list') }}";
        var people_uri = "{{ url_for('people_list') }}";
        var status_types_uri = "{{ url_for('status_types') }}";
        var actions_uri = "{{ url_for('actions_list') }}";
    </script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/interface.js') }}"></script>
{% endblock %}

{% block body %}
    {% include "user/login.html" %}
    {% include "item/perform_action.html" %}
    {% include "item/recent_actions.html" %}
{% endblock %}


