{% extends "layout.html" %}

{% block title %}Expo Track{% endblock %}

{# Include this only for our interface template #}
{% block additional_js %}
    <script>
        var status_types = {{ status_types|tojson }};
        var status_opposites = {{ status_opposites|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/interface.js') }}"></script>
{% endblock %}

{% block body %}
    {% include "login.html" %}
    {% include "interface/perform_action.html" %}
    {% include "interface/top_info.html" %}
    {% include "interface/items_and_actions.html" %}
{% endblock %}
