{# This template is intended to be included in other templates #}
<div data-bind="visible: auth().authenticated">
    <ul class="nav nav-pills">
        <!-- ko foreach: tabs -->
        <li data-bind="css: {active: $parent.active_tab() === name}" role="presentation"><a data-bind="click: function(){$parent.active_tab(name)}" href="#"><span data-bind="text: title"></span></a></li>
        <!-- /ko -->
    </ul>

    <div data-bind="visible: active_tab() !== 'actions'">
        <div data-bind="with: items" class="row">
            <div data-bind='sortableGrid: grid_view_model'></div>
        </div>
    </div>

    <div data-bind="visible: active_tab() === 'actions'">
        <div data-bind="with: actions" class="row">
            <div data-bind='sortableGrid: grid_view_model'></div>
        </div>
    </div>
</div>
